.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 200px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}
.coin h2 {
  font-size: 16px;
  width: 50px;
  text-align: center;
}
.coin img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
  text-align: center;
  min-width: 90px;
}


.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 200px;
}

.coin-marketcap {
  width: 200px;
}

.coin-percent {
  width: 80px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

/* table */

/* This is what we are focused on */
.table-wrapper{
  overflow-y: scroll;
  
  height: 300px;
  width: 500px;
  min-width: 500px;
}

.table-wrapper th{
    position: sticky;
    top: 0;
}

/* A bit more styling to make it look better */
/* .table-wrapper{
  background: CadetBlue;
} */

table{
  border-collapse: collapse;
  width: 100%;
}

th{
    background: #DDD;
}

td,th{
  padding: 10px;
  text-align: center;
}