.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 10px;
  min-width: 100px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}
.coin h2 {
  font-size: 16px;
  width: 50px;
  text-align: center;
}
.coin img {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  margin-left: 9px;
}

.coin-symbol {
  text-transform: uppercase;
  text-align: center;
  min-width: 50px;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 200px;
}

.coin-marketcap {
  width: 20px;
}

.coin-percent {
  width: 50px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

/* table */

/* This is what we are focused on */
.table-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  height: 300px;
}

.table-wrapper th {
  position: sticky;
  top: 0;
}

/* A bit more styling to make it look better */
/* .table-wrapper{
  background: CadetBlue;
} */

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}

th {
  background: #ddd;
}

td,
th {
  padding: 10px;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
