.grid {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;

  position: relative;
  margin: auto;
}
img {
  width: 100px;
  height: 100px;
}
.result {
  position: relative;
  left: 210px;
    top: 28px;
  width: 500px;
  height: 60px;
}
